@import "tailwindcss";

/* Prevent page shift when scrollbar appears */
html {
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* 
::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-left: 2px solid black;
} */

::-webkit-scrollbar-thumb {
    background: #fbbf24;
    border: 2px solid black;
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f59e0b;
}

@keyframes vibrate {
    0%, 100% { transform: rotate(0deg); }
    15% { transform: rotate(-12deg); }
    30% { transform: rotate(12deg); }
    45% { transform: rotate(-12deg); }
    60% { transform: rotate(12deg); }
    75% { transform: rotate(-8deg); }
    90% { transform: rotate(8deg); }
}

.hover-vibrate:hover {
    animation: vibrate 0.5s cubic-bezier(.36,.07,.19,.97) both;
}